.alert {
    position: fixed;
    z-index: var(--zindex-modal);
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: var(--brand-primary);
    color: var(--basic-white);
}
