<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">
  <!-- Base -->
  <link rel="stylesheet"
        href="../../../resources/css/base/reset.css">
  <link rel="stylesheet"
        href="../../../resources/css/base/common.css">

  <!-- Theme -->
  <link rel="stylesheet"
        href="../../../resources/css/theme/theme.css">

  <!-- Layout -->
  <link rel="stylesheet"
        href="../../../resources/css/layout/layout.css">

  <!-- Component -->
  <link rel="stylesheet"
        href="../../../resources/css/component/button.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/textarea.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/media.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/list.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/dropdown.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/badge.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/breadcrumb.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/pagination.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/toast.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/card.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/carousel.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/modal.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/scrollspy.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/tab.css">
  <link rel="stylesheet"
        href="../../../resources/css/component/components.css">

  <!-- Plugin -->
  <link rel="stylesheet"
        href="../../../resources/css/plugin/owl.carousel.css">
  <link rel="stylesheet"
        href="../../../resources/css/plugin/owl.theme.default.css">

  <!-- Module -->
  <link rel="stylesheet"
        href="../../../resources/css/module/modals.css">

  <!-- Meta -->

  <title>Architecture Test</title>
</head>
<body>
<div class="container">
  <div class="row">
    <h1>Owl Carousel Test</h1>
    <div class="col-12">
      <div class="owl-carousel">
        <div>Your Content</div>
        <div>Your Content</div>
        <div>Your Content</div>
        <div>Your Content</div>
        <div>Your Content</div>
        <div>Your Content</div>
        <div>Your Content</div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-between w-100">
        <button type="button"
                class="customPrevBtn btn btn-secondary">Prev
        </button>
        <button type="button"
                class="customNextBtn btn btn-primary">Next
        </button>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-between w-100">
        <button type="button"
                class="addBtn btn btn-success">Add
        </button>
        <button type="button"
                class="removeBtn btn btn-danger">Remove
        </button>
        <button type="button"
                class="autoplayBtn btn btn-dark">Auto Play
        </button>
        <button type="button"
                class="autoplayStopBtn btn btn-dark">Auto Play Stop
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<!-- Jquery 3.6.0 -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
-->
<script src="../../../resources/js/utility.js"></script>
<script src="../../../resources/js/common.js"></script>
<script src="../../../resources/js/app.js"></script>
<script src="../../../resources/js/api.js"></script>
<!-- Plugin JS-->
<!-- Module JS -->
<!-- Module JS 는 특정 페이지가 아니라 다양한 페이지에서 작동하는 부분으로 Event 및 Element 생성 및 다양한 화면에 진입했을 때
     공통적으로 로직을 수행하는 Javascript를 Module JS라고 한다.
     Selector (선택자)의 Length 및 Empty 여부를 예외처리로 해줘야한다.
     (선택자가 없으면 또는 선택자의 Length가 0이면 에러가 터질 수 있기 때문에) -->
<script src="../../../resources/js/module/modal.js"></script>
<script src="../../../resources/js/module/inspection.js"></script>
<script src="../../../resources/js/module/validation.js"></script>
<script src="../../../resources/js/plugin/owl.carousel.js"></script>
<script>
    /**
     * Static JS
     * Static JS는 특정 페이지 에서만 작동하는 부분으로 Event 및 Element 생성 및 화면에 진입했을 때의
     * 해당 화면만의 특정 로직을 수행하는 Javascript를 Static JS라고 한다.
     * */
    $(document).ready(function () {
        console.log('Static JS is ready');
        let carousel = $('.owl-carousel');
        carousel.owlCarousel({
            loop: true,
            onDragged: function (event) {
                console.log('event', event);
                // Provided by the core
                let element = event.target;         // DOM element, in this example .owl-carousel
                let name = event.type;           // Name of the event, in this example dragged
                let namespace = event.namespace;      // Namespace of the event, in this example owl.carousel
                let items = event.item.count;     // Number of items
                let item = event.item.index;     // Position of the current item
                // Provided by the navigation plugin
                let pages = event.page.count;     // Number of pages
                let page = event.page.index;     // Position of the current page
                let size = event.page.size;      // Number of items per page
            },
            onInitialize: function (event) {
                console.log('event', event);
            },
            onInitialized: function (event) {
                console.log('event', event);
            },
            onResized: function (event) {
                console.log('event', event);
            },
            onRefreshed: function (event) {
                console.log('event', event);
            },
        });

        let next_button = document.querySelector('.customNextBtn');
        next_button.addEventListener('click', function (event) {
            carousel.trigger('next.owl.carousel', [300]);
            event.stopPropagation();
            event.preventDefault();
        });

        let prev_button = document.querySelector('.customPrevBtn');
        prev_button.addEventListener('click', function (event) {
            carousel.trigger('prev.owl.carousel', [300]);
            event.stopPropagation();
            event.preventDefault();
        });

        let add_button = document.querySelector('.addBtn');
        add_button.addEventListener('click', function (event) {
            let insertNode = document.createElement('div');
            insertNode.classList.add('add');
            insertNode.innerHTML = `Your Content`;
            let last_position = carousel.find('.owl-item').length;
            console.log('last_position', last_position);
            carousel.trigger('add.owl.carousel', [insertNode], last_position).trigger('refresh.owl.carousel');
            event.stopPropagation();
            event.preventDefault();
        });

        let remove_button = document.querySelector('.removeBtn');
        remove_button.addEventListener('click', function (event) {
            let last_position = carousel.find('.owl-item').length;
            console.log('last_position', last_position);
            carousel.trigger('remove.owl.carousel', last_position).trigger('refresh.owl.carousel');
            event.stopPropagation();
            event.preventDefault();
        });

        let autoplay_button = document.querySelector('.autoplayBtn');
        autoplay_button.addEventListener('click', function (event) {
            //Timeout, Speed
            let timeout = 1000;
            let speed = 500;
            carousel.trigger('play.owl.autoplay', [timeout, speed]);
            event.stopPropagation();
            event.preventDefault();
        });
        let autoplayStop_button = document.querySelector('.autoplayStopBtn');
        autoplayStop_button.addEventListener('click', function (event) {
            carousel.trigger('stop.owl.autoplay');
            event.stopPropagation();
            event.preventDefault();
        });
    });
</script>
</body>
</html>
